<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<link rel="import" href="campus-morality-class-picker.html">
<!--
`campus-morality-for-teacher`
@demo demo/campus-morality-for-teacher.html
-->
<dom-module id="campus-morality-for-teacher">
    <style include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning"></style>
    <style>
    :host {
        display: block;
        position: relative;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        background: #f2f2f2;
        height: 100%;
    }
    
    :host campus-morality-class-picker {
        --paper-input-container-color: #eee;
        --paper-input-container-focus-color: #fff;
        --paper-input-container-input-color: #fff;
    }
    
    :host paper-item {
        color: var(--secondary-text-color);
    }
    
    :host paper-item:hover {
        background-color: rgba(0, 0, 0, .037);
        cursor: pointer;
    }
    
    :host .cell-container {
        padding: 16px 8px;
    }
    
    :host .paper-header {
        height: 64px;
        padding: 0 16px;
    }
    
    @media (min-width: 415px) {
        :host .cell-item {
            padding: 0 8px;
            width: 220px;
        }
    }
    
    @media (max-width: 414px) {
        :host .cell-item {
            padding: 0 8px;
            flex: 1 1 220px;
        }
    }
    
    @media (min-width: 769px) {
        :host [main-content] {
            padding: 10px;
        }
        :host [drawer] {
            background: #f2f2f2;
        }
    }
    </style>
    <template>
        <paper-drawer-panel id="drawer" disable-edge-swipe disable-swipe>
            <div drawer>
                <div class="fit layout vertical">
                    <paper-header-panel mode="waterfall">
                        <paper-toolbar>
                            <campus-morality-class-picker class="flex-auto" id="classPicker"></campus-morality-class-picker>
                        </paper-toolbar>
                        <div>
                            <div class="paper-header layout horizontal center">
                                <iron-icon icon="icons:filter-list" style="margin-right:8px"></iron-icon>
                                <paper-input class="flex-auto" label="[[translate._01]]" no-label-float value="{{filterString::input}}"></paper-input>
                            </div>
                            <template is="dom-repeat" items="[[items]]" filter="{{_filter(filterString)}}">
                                <paper-item target="[[item]]" on-tap="_selectItem">
                                    <div style="min-width:24px">[[item.SeatNumber]]</div>
                                    <div>[[item.Name]]</div>
                                </paper-item>
                            </template>
                        </div>
                    </paper-header-panel>
                </div>
            </div>
            <paper-header-panel main mode="waterfall">
                <paper-toolbar>
                    <paper-icon-button icon="icons:list" style="min-width:40px" paper-drawer-toggle></paper-icon-button>
                    <div class="title" hidden$="[[hidden_detail]]">[[selected.SeatNumber]] [[selected.Name]]</div>
                    <paper-icon-button icon="icons:done" on-tap="_accept" hidden$="[[hidden_detail]]"></paper-icon-button>
                </paper-toolbar>
                <div main-content hidden$="[[hidden_detail]]">
                    <paper-material elevation="1" style="background:#fff">
                        <div class="layout horizontal wrap" style="padding:8px;border-bottom:1px solid #ddd">
                            <div style="padding:8px;width:60px">
                                <div class="layout horizontal">
                                    <paper-input type="number" min="-[[rating_range]]" max="[[rating_range]]" label="[[translate._02]]" value="{{selected.Difference}}" class="flex"></paper-input>
                                </div>
                            </div>
                            <div class="flex" style="padding:8px">
                                <div class="layout horizontal">
                                    <paper-input label="[[translate._03]]" value="{{selected.Comment}}" class="flex" on-keydown="_bindComment"></paper-input>
                                </div>
                            </div>
                        </div>
                        <div class="layout horizontal wrap cell-container">
                            <template is="dom-repeat" items="[[selected.TextScore.Morality]]">
                                <div class="cell-item">
                                    <paper-input label="[[item.$.Face]]" value="{{item._}}" class="flex-auto" on-keydown="_bindFace" face="[[item.$.Face]]"></paper-input>
                                </div>
                            </template>
                        </div>
                    </paper-material>
                </div>
            </paper-header-panel>
        </paper-drawer-panel>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
    Polymer({
        is: "campus-morality-for-teacher",

        properties: {
            /*
             * 德行成績 (zh-tw), 德行成绩 (zh-cn), Morality (en-us)
             */
            title: {
                type: Object,
                readOnly: true
            }
        },

        behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

        ready: function() {
            this._setTitle({
                'zh-tw': '德行成績',
                'zh-cn': '德行成绩',
                'en-us': 'Morality'
            });

            this.initTranslate({
                'default': 'zh-tw',
                'zh-tw': {
                    '_01': '姓名, 座號',
                    '_02': '加減分',
                    '_03': '評語',
                    '_11': '輸入完成後，請按 [Tab] 或 [Space] 或 [Enter]',
                    '_12': '更新完成!',
                    '_13': '更新失敗! 請確認資料是否正確或超過開放時間了!',
                },
                'zh-cn': {
                    '_01': '姓名, 座号',
                    '_02': '加减分',
                    '_03': '评语',
                    '_11': '输入完成后，请按 [Tab] 或 [Space] 或 [Enter]',
                    '_12': '更新完成!',
                    '_13': '更新失败! 请确认资料是否正确或超过开放时间了!',
                },
                'en-us': {
                    '_01': 'Name, Seat No.',
                    '_02': 'Score',
                    '_03': 'Comment',
                    '_11': 'Input finished, press [Tab] or [Space] or [Enter]',
                    '_12': 'Update completed!',
                    '_13': 'Update failed!',
                }
            });

            this.$.classPicker.addEventListener('changed', function(e) {
                e.stopPropagation();

                this.set('clazz', e.detail);
                this._getItems();
            }.bind(this));

            this.set('hidden_detail', true);

            if (document.documentElement.clientWidth < 768)
                this.$.drawer.openDrawer();

            this._getSupervisedRatingRange();
            this._getMoralCommentMappingTable();
            this._getTextScoreMappingTable();
        },

        _getSupervisedRatingRange: function() {
            var request = {
                contract: 'ta',
                service: 'TeacherAccess.GetSupervisedRatingRange',
                body: {
                    Content: {}
                }
            };

            this.generateRequest(request, function(response) {
                if (response && response.GetPeriodListResponse) {
                    this.set('rating_range', response.GetPeriodListResponse.RatingRange || 0);
                } else
                    this.set('rating_range', 0);
            }.bind(this));
        },

        _getMoralCommentMappingTable: function() {
            var request = {
                contract: 'ta',
                service: 'TeacherAccess.GetMoralCommentMappingTable',
                body: {
                    Content: {}
                }
            };

            this.generateRequest(request, function(response) {
                if (response && response.GetMoralCommentMappingTable) {
                    var items = [].concat(response.GetMoralCommentMappingTable.Morality || []);
                    this.set('mc_items', items);
                } else
                    this.set('mc_items', []);
            }.bind(this));
        },

        _getTextScoreMappingTable: function() {
            var request = {
                contract: 'ta',
                service: 'TeacherAccess.GetTextScoreMappingTable',
                body: {
                    Content: {}
                }
            };

            this.generateRequest(request, function(response) {
                if (response && response.GetWordCommentListResponse && response.GetWordCommentListResponse.Content) {
                    var items = [].concat(response.GetWordCommentListResponse.Content.Morality || []);
                    this.set('ts_items', items);
                } else
                    this.set('ts_items', []);
            }.bind(this));
        },

        _reload: function(e) {
            this.filterString = '';
            this.$.classPicker.reload();

            this._getSupervisedRatingRange();
            this._getMoralCommentMappingTable();
            this._getTextScoreMappingTable();

            this.set('selected', null);
            this.set('hidden_detail', true);
        },

        _filter: function(value) {
            if (!value)
                return null;
            else {
                value = value.toLowerCase();
                return function(item) {
                    return (item.Name.toLowerCase().indexOf(value) !== -1 ||
                        item.SeatNumber.toLowerCase().indexOf(value) !== -1);
                };
            }
        },

        _bindComment: function(e) {
            if ([9, 13, 32].indexOf(e.keyCode) !== -1) {
                this.mc_items.forEach(function(item) {
                    var re = new RegExp(item.$.Code, 'ig');
                    this.set('selected.Comment', e.target.value.replace(re, item.$.Comment));
                }.bind(this));
            }
        },

        _bindFace: function(e) {
            if ([9, 13, 32].indexOf(e.keyCode) !== -1) {
                var node = e.target;
                while (node.nodeName !== 'PAPER-INPUT') {
                    node = node.parentNode;
                }
                var face = node.face;

                this.ts_items.forEach(function(ts) {
                    if (ts.$.Face === face) {
                        if (ts.Item) {
                            ts.Item.forEach(function(item) {
                                var re = new RegExp(item.$.Code, 'ig');
                                this.selected.TextScore.Morality.forEach(function(mo, i) {
                                    if (mo.$.Face === face)
                                        this.set(['selected.TextScore.Morality.', i, '._'].join(''), e.target.value.replace(re, item.$.Comment))
                                }.bind(this));
                            }.bind(this));
                        }
                    }
                }.bind(this));
            }
        },

        _getItems: function() {
            var request = {
                contract: 'ta',
                service: 'TeacherAccess.GetStudentSupervisedDiff',
                body: {
                    Content: {
                        Field: {
                            All: {}
                        },
                        Condition: {
                            ClassID: this.clazz.id
                        },
                        Order: {
                            SeatNumber: {}
                        }
                    }
                }
            };

            this.generateRequest(request, function(response) {
                if (response && response.StudentSupervisedDiff) {
                    var items = [].concat(response.StudentSupervisedDiff.SupervisedDiff || []);
                    this.set('items', items);
                } else
                    this.set('items', []);
            }.bind(this));
        },

        _selectItem: function(e) {
            var node = e.target;
            while (node.nodeName !== 'PAPER-ITEM') {
                node = node.parentNode;
            }
            var target = node.target;
            target.TextScore = target.TextScore || {
                Morality: []
            };

            if (this.ts_items) {
                this.ts_items.forEach(function(ts) {
                    var flag = false;
                    target.TextScore.Morality.forEach(function(mo) {
                        if (mo.$.Face === ts.$.Face) flag = true;
                    });
                    if (!flag) target.TextScore.Morality.push({
                        $: {
                            Face: ts.$.Face
                        },
                        _: ''
                    })
                });
            }

            this.set('selected', target);
            this.set('hidden_detail', false);

            this.$.drawer.closeDrawer();
        },

        _accept: function(e) {
            var items = [];
            this.items.forEach(function(item) {
                items.push({
                    $: {
                        StudentID: item.$.StudentID
                    },
                    Difference: item.Difference,
                    Comment: item.Comment,
                    TextScore: {
                        Content: {
                            Morality: item.TextScore.Morality
                        }
                    }
                });
            });

            var request = {
                contract: 'ta',
                service: 'TeacherAccess.SetStudentSupervisedDiff',
                body: {
                    Content: {
                        SupervisedDiff: items
                    }
                }
            };

            this.generateRequest(request, function(response) {
                if (response && response.Response && Math.ceil(response.Response.EffectRows) === this.items.length)
                    this.$.toast.show({
                        text: this.translate._12,
                        duration: 1000
                    });
                else
                    this.$.toast.show({
                        text: this.translate._13,
                        duration: 1000
                    });
            }.bind(this));
        },
    });
    </script>
</dom-module>
